<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
</head>

<body>
    <h1>{{ site.title }}</h1>
    {% if pages == [] %}
    <p>データがありません。</p>
    {% else %}
    <table border="1">
        <tr>
            <th>タイトル</th>
            <th>URL</th>
        </tr>
        {% for page in pages %}
        <tr>
            <td>{{ page.title }}</td>
            <td><a href="{{ page.url }}">{{ page.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>